body {
  font: 24px sans-serif;
  max-width: 800px;
  padding: 0 .5em;
  margin: 0 auto;
  color: #111;
  background: #dfd8e5;
  text-align: center;
}
a:link {
  color: #05C;
}
a:hover {
  color: #C00;
}
h1 {
  font: normal 2em Optima, Palatino, serif;
}
form {
  text-align: left;
}
input {
  font-size: 100%;
}
.field input {
  float: right;
  width: 99%;
}
label {
  color: #a39aab;
  display: inline-block;
  width: 4em;
  margin-left: -5em;
  padding-top: .2em;
  text-align: right;
  vertical-align: middle;
}
input:focus + label {
  color: #333;
}
abbr {
  letter-spacing: .1em;
}
.submit-row {
  text-align: right;
}
.submit-row input {
  float: left;
}